<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lesnekk's BLOG</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header class="top">
      <h1><a  href="{% url  'home'  %}">LESNEKK'S BLOG</a></h1>
      <a  href="{% url 'new_post' %}">+ New Blog Post</a>

            {% if user.is_authenticated %}
                <p>Hi {{ user.username }}!</p>
                <p><a href="{% url 'logout' %}">Log out</a></p>

                {% else %}
                <p>You are not logged in.</p>
                <a href="{% url 'login' %}">Log In |</a>
                <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
    </header>
  <div>
    {% block content  %}
    {% endblock content %}
  </div>
</body>
</html>